
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.noteDetail {
    overflow:hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

.editWindow {
    position:fixed;
    top:25%;
    left:25%;
    z-index: 100;
    padding: 15px;
    background-color: #5c928d;
    width: 40%;
    height: 50%;
    border-style: solid;
    border-radius: 10px;

}
